@import 'shared';

body {
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

#main-content {
  position: relative;
  padding: 11px 33px 50px;

  footer {
    position: absolute;
    bottom: 20px;
    font-size: 10px;
    color: $g1;

    a {
      color: $g1;
      text-decoration: none;
    }
  }

  header {
    img {
      float: left;
      margin-right: 6px;
    }

    span {
      color: $blue;
      font-weight: bold;
      line-height: 30px;
    }
  }
}
