@import 'shared';

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 0;
}

input {
  font-family: 'Montserrat', sans-serif;
}

.DateLabel {
  width: 45px;
  display: inline-block;
  text-align: center;
}
