@import 'shared';

body {
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  margin: 0;
}

input {
  font-family: 'Montserrat', sans-serif;
}

.DateLabel {
  width: 3.3rem;
  display: inline-block;
  text-align: center;
}
