@import './shared.scss';

.Button {
  color: $blue;
  text-decoration: none;
  font-weight: bold;
  margin-left: .7rem;
  align-items: center;
  display: flex;

  span {
    padding:.4rem;
  }

  &__date {
    color: $blue;
    padding: .3rem;

    &:hover {
      color: $blue-dark;
    }

    &:active {
      color: $g4;
    }

    &:disabled {
      color: $g1;
    }
  }
}
