@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import 'shared';

.Example {
  background: #f0f0f0;
  height: 100vh;
}

.Example__wrapper {
  box-sizing: border-box;
  width: 337px;
  height: 482px;
  resize: both;
  overflow: hidden;
  background: white;
  padding: 10px 20px;
  margin: auto;
}
