@import 'shared';

$header-height: 3rem;

.Header {
  display: block;
  height: $header-height;

  &--children {
    float: right;
    display: flex;
    align-items: center;
    height: $header-height;
  }

  &__slogan {
    font-size: 80%;
  }
}

.Logo {
  margin-right:.4rem;
  font-size: 1.3rem;
  text-decoration: none;
  display: inline-block;
  line-height: $header-height;

  span {
    font-weight: bold;
  }

  &--first-word {
    color: $blue;
  }

  &--second-word {
    color: $blue-dark;
  }
}

@media only screen and (max-width: 320px) {
  .Header__slogan {
    display: none;
  }
}
