@import 'shared';


.ListSearch {
  overflow-y: auto;
  height: 100%;
  margin-bottom: 1.6rem;
}

.ListSearch ul {
  list-style-type: none;
  padding: 0;
  // height: 100%;
  overflow: auto;
  margin: 0;
}

.ListItem {
  color: $black;
  display: block;
  text-decoration: none;
  position: relative;
  margin-bottom: .3rem;

  &__external {
    color: $g1;
    display: none;
    margin-left:.4rem;
}

  &:hover .ListItem-bar {
    background-color: $blue;
  }

  &:hover &__external {
    display: inline;
  }
}

.ListItem-bar {
  background-color: $blue-light;
  height: .3rem;
}

.ListItem-hits {
  color: $g1;
  position: absolute;
  right: 0;

  svg {
    margin-left:.4rem;
  }
}
