@import 'shared';

.ListSearch ul {
  list-style-type: none;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

.ListItem {
  color: $black;
  display: block;
  text-decoration: none;
  position: relative;
  margin-bottom: 4px;

  &__external {
    color: $g1;
    display: none;
    margin-left: 5px;
  }

  &:hover &__external {
    display: inline;
  }
}

.ListItem-bar {
  background-color: $blue-light;
  height: 4px;
}

.ListItem-hits {
  color: $g1;
  position: absolute;
  right: 0;

  svg {
    margin-left: 5px;
  }
}
