.leaflet-container {
  height: 340px;
  width: 100%;
  top: 90px;
  position: absolute;
  left: 0;
  right: 0;
}

.leaflet-popup-content {
  margin: .7rem 11px !important;

  p {
    margin:.4rem 0 !important;
  }
}
