@import 'shared';

.SearchBar__search-icon,
.SearchBar__reset-icon {
  color: $g1;
  align-self: center;
  position: absolute;
  right: .7rem;
  background: none;
  border: none;
  height: 2rem;

  &:hover {
    color: $g4;
    cursor: pointer;
  }
}

.SearchBar__reset-icon {
  right: 2rem;
}
