@import 'shared';

.Widget {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  height: 100vh;

  footer {
    position: absolute;
    bottom: 20px;
    font-size: 10px;
    color: $g1;

    a {
      color: $g1;
      text-decoration: none;
    }
  }

  header {
    height: 40px;
  }
}
